@model WebApplication5.Models.Student

<h2>Create Student</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Name</label>
        <input asp-for="StudentName" />
        <span asp-validation-for="StudentName" class="text-danger"></span>
    </div><br />

    <div>
        <label>Course</label>
        <select asp-for="CourseId" asp-items="ViewBag.Courses">
            <option value="">-- Select Course --</option>
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div><br />

    <button type="submit">Save</button>

</form>
