@model IEnumerable<WebApplication5.Models.Student>

<h2>Student List</h2>

<table border="1" class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Course</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StudentId</td>
            <td>@item.StudentName</td>
            <td>@item.Course?.CourseName</td>
        </tr>
    }
</table>

<br />

<a asp-action="Create">Add New Student</a>

