@model WebApplication1.Models.Product

<div class="container mt-4">
    <h2>Add Product</h2>

    <form asp-action="Create" method="post">

        <div class="mb-3">
            <label class="form-label">Product ID</label>
            <input asp-for="ProductId" class="form-control" />
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Category</label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>

        <button type="submit" class="btn ">Add Product</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>
