h2 {
    text-align: center;
    font-family: Arial;
    color:black;
}
.features-section {
    background-color: #f4f8ff;
    padding: 30px;
}

/* Descendant selector */
.features-section ul {
    list-style-type: none;
    padding: 0;
}

.feature-list li {
    font-family:  sans-serif;  
    background-color: white;
    color: #333;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    border-radius: 6px;
}

.feature-list li:hover {
    background-color: #0077cc;
    color: white;
    cursor: pointer;
}
