header {
    background-color: blue;
    color: white;
    padding: 2px;
    text-align: center;
    font-family: Arial;
}
.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
}
.blog {
    background-color: #f9fafb;
    border: 1px solid;
    padding: 24px;
    border-radius: 8px;
    flex:30%;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog h2 {
    font-family: Georgia, serif;
    margin-bottom: 10px;
    color: black;
}

.blog p {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    line-height: 1.5;
}
.blog button {
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.blog button:hover {
    background-color: #6725eb;
}
