<h1>Contact Management</h1>

<input type="text" placeholder="Name" [(ngModel)]="contact.name">
<input type="email" placeholder="Email" [(ngModel)]="contact.email">
<input type="text" placeholder="Phone" [(ngModel)]="contact.phone">
<input type="number" placeholder="CategoryId" [(ngModel)]="contact.categoryId">

<br><br>

<button (click)="add()">Add</button>
<button (click)="update()">Update</button>

<hr>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let c of contacts">
    <td>{{c.contactId}}</td>
    <td>{{c.name}}</td>
    <td>{{c.email}}</td>
    <td>{{c.phone}}</td>
    <td>
      <button (click)="edit(c)">Edit</button>
      <button (click)="delete(c.contactId)">Delete</button>
    </td>
  </tr>
</table>
