@model ContactInfo

<h2>Add Contact</h2>

<form asp-action="AddContact" method="post">
    <div class="mb-3">
        <label asp-for="ContactId"></label>
        <input asp-for="ContactId" class="form-control" />
        <span asp-validation-for="ContactId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EmailId"></label>
        <input asp-for="EmailId" class="form-control" />
        <span asp-validation-for="EmailId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MobileNo"></label>
        <input asp-for="MobileNo" class="form-control" />
        <span asp-validation-for="MobileNo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Designation"></label>
        <input asp-for="Designation" class="form-control" />
        <span asp-validation-for="Designation" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">Save</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}