@model WebApplication5.Models.ContactInfo
@{
    ViewData["Title"] = "Add Contact";
}

<h2>Add Contact</h2>

<form asp-action="AddContact" method="post">
    <input asp-for="FirstName" placeholder="First Name"/>
    <span asp-validation-for="FirstName" class="text-danger"></span><br />

    <input asp-for="LastName" placeholder="Last Name" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span><br />

    <input asp-for="EmailId" placeholder="Email" class="form-control" />
    <span asp-validation-for="EmailId" class="text-danger"></span><br />

    <input asp-for="MobileNo" placeholder="Mobile" class="form-control" />
    <span asp-validation-for="MobileNo" class="text-danger"></span><br />
    <input asp-for="Designation" placeholder="Designation" class="form-control" />
    <span asp-validation-for="Designation" class="text-danger"></span><br />

    <select asp-for="CompanyId" class="form-control">
        <option value="">Select Company</option>
        @foreach (var co in ViewBag.Companies)
        {
            <option value="@co.CompanyId">@co.CompanyName</option>
        }
    </select><br />

    <select asp-for="DepartmentId" class="form-control">
        <option value="">Select Department</option>
        @foreach (var d in ViewBag.Departments)
        {
            <option value="@d.DepartmentId">@d.DepartmentName</option>
        }
    </select><br />

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/Contact/ShowContacts" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
