@model WebApplication4.Models.Student

<h2>Add Student</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="StudentName"></label>
        <input asp-for="StudentName" />
        <span asp-validation-for="StudentName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="CourseId"></label>
        <select asp-for="CourseId" asp-items="ViewBag.Courses">
            <option value="">Select Course</option>
        </select>

        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>

    <button type="submit">Add</button>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

